<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Aleksandar Angelovski" name="author" />
    <link rel="shortcut icon" href="https://linustechtips.com/main/uploads/monthly_2017_09/A.png.044593500e8c1fd20587fc63455cdd6f.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

<body>
    <div id="preloader">
        <div class="fa-3x" id="loader">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>

    <div class="main-content" style="display:none">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler pull-xs-right" data-toggle="collapse" data-target=".navbar-collapse">
                        ☰
                    </button>
                    @Html.ActionLink("Application name", "Index", "Store", new { area = "" }, new { @class = "navbar-brand" })
                    @{ //Twitter/Github links
                    }
                    <a href="/Twitter" class="fa-stack">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/Github" class="fa-stack" style="color:orangered">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </a>
                </div>
                <div class="navbar-collapse collaps">
                    <ul class="nav navbar-nav">
                        <li> @Html.ActionLink("Products", "Products", "Store")</li>
                        <li>@Html.ActionLink("Home", "Index", "Store", new { area = "" }, null)</li>
                        <li>  @Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                        @{ //TODO: Make this accessible only to Head Admins/admins
                        }
                        <li> @Html.ActionLink("AdminPanel", "Index", "Admin")</li>
                        <li> @Html.Partial("_LoginPartial")</li>
                    </ul>
                </div>
            </div><!-- /.container-fluid -->
        </nav>


        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="row">
                    <div class="copyright col-md-6 ">
                        <p>Copyright &copy; @DateTime.Now.Year</p>
                    </div>
                    <div class="scroll-top col-md-6 ">
                        <a href="#" id="scroll-to-top">
                            <i class="fa fa-angle-up"></i>
                        </a>
                    </div>
                </div>

            </footer>
        </div>
    </div>


    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
<style>
    <link href="~/Content/Site.css" rel="stylesheet" / >
</style>
<script src="~/Scripts/Store/Store.js"></script>
