<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Aleksandar Angelovski" name="author" />
    <link rel="shortcut icon" href="https://linustechtips.com/main/uploads/monthly_2017_09/A.png.044593500e8c1fd20587fc63455cdd6f.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>

<body>
    <div id="preloader">
        <div class="fa-3x" id="loader">
            <i class="fas fa-spinner fa-spin"></i>
        </div>
    </div>
    <div class="row page-header">
        <div class="page-title col-md-6">
            <div class="row">
                <!--Title -->
                <div class="main-title col-md-6">
                    <span>
                        @Html.ActionLink("Ace Tech Store", "Index", "Store")
                    </span>
                    <span>
                        Logo
                    </span>
                </div>
                <!--Social Media -->
                <div class="social-media-links col-md-6">
                    <a href="/Twitter" class="fa-stack">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/Github" class="fa-stack" style="color:orangered">
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                    </a>
                </div>
            </div>
        </div>


        <div class="user-info col-md-6">
            <!--TODO: Make this accessible only to Head Admins/admins-->
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="main-content" style="display:none">

        <div class="container">
            <div>
                <!--Navigation-->
                <li> @Html.ActionLink("Products", "Products", "Store")</li>
                <li>@Html.ActionLink("Home", "Index", "Store", new { area = "" }, null)</li>
                <li>  @Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>

            </div>
        </div><!-- /.container-fluid -->



        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>
    </div>



    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @System.Reflection.Assembly.GetCallingAssembly().GetName().Version;
    <div class="page-footer">
        <div class="row">
            <div class="copyright col-md-6 ">
                <p>Copyright &copy; @DateTime.Now.Year</p>
            </div>
            <div class="scroll-top col-md-6">
                <button id="scroll-to-top">
                    <i class="fa fa-angle-up"></i>
                </button>
            </div>
        </div>
    </div>
</body>
<!--TODO: Fix the footer not being on bottom all the time-->


</html>

<script src="~/Scripts/Store/Store.js"></script>
