
@{
    ViewBag.Title = "Index";
}

<h2>Use this To Moderate Your app</h2>
<div>
    @Html.ActionLink("Roles", "Index", "Role")
    @Html.ActionLink("Users", "Index", "User")
</div>

<div>
    @Html.ActionLink("Products", "Index", "Product")
    @Html.ActionLink("Categories", "Index", "Category")
    @Html.ActionLink("Customer", "Index", "Customer")
    @Html.ActionLink("Orders", "Index", "Order")
</div>

