@model TechStore.Models.ViewModels.CreateCategoryViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CreateCategoryViewModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.HiddenFor(model => model.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    Product In Category:
    <div id="products-for-category" class="row">

    </div>
    Products Not in Category:
    <div id="products-not-for-category" class="row">

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    var $productsForCategoryDiv = $('#products-for-category');
    var $productsNotForCategoryDiv = $('#products-not-for-category');

    //Factories declaration
    var appendingFactory = new htmlAppendingFactory();
    var itemsFactory = new storeFactory(appendingFactory);
    function ajaxSuccess(data, status) {
        itemsFactory.GetProductsPerCategory($productsForCategoryDiv,@Model.CategoryID);
        itemsFactory.GetProductsNotInCategory($productsNotForCategoryDiv,@Model.CategoryID);
    };
   
  
    var RemoveProduct = function (id, event) {
        event.preventDefault();
            var buttonID = id;
            var shouldRemove = confirm("Are you sure you want to remove this product from the category?");
            if (shouldRemove) {
                $.ajax({
                    type: "get",
                    url: "/Product/RemoveProductFromCategory",
                    data: {
                        productID: buttonID,
                        categoryID: @Model.CategoryID,
                    },
                    success: ajaxSuccess,
                    // contentType: "application/json; charset=utf-8",
                    // dataType: "json",

                });
            }
        };
    var AddProduct= function (id, event) {
        event.preventDefault();
            var buttonID = id;
            var shouldRemove = confirm("Are you sure you want to add this product to the category?");
            if (shouldRemove) {
                $.ajax({
                    type: "get",
                    url: "/Product/AddProductToCategory",
                    data: {
                        productID: buttonID,
                        categoryID: @Model.CategoryID,
                    },
                    success: ajaxSuccess,
                    // contentType: "application/json; charset=utf-8",
                    // dataType: "json",

                });
            }
          };
    $(document).ready(function () {

        //Get all products
        itemsFactory.GetProductsPerCategory($productsForCategoryDiv,@Model.CategoryID);
        itemsFactory.GetProductsNotInCategory($productsForCategoryDiv,@Model.CategoryID);

    });

</script>
