@model TechStore.Models.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomerViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRegistered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRegistered)
        </dd>

    </dl>
</div>

<div>
    <button id="see-orders" class="btn btn-primary">See orders</button>
</div>
<div id="orders">

</div>

<p>
    @Html.ActionLink("Edit Customer", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    $(document).ready(function () {


        //Orders
        var orderList = $('#orders');
        $('#see-orders').click(function () {
            orderList.empty();
            $.ajax({
                type: "get",
                url: "/Customer/GetOrders/" ,
                success: ajaxOrdersSuccess,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data:{
                    customerID:@Model.CustomerID,
                },
            });
        });
        function ajaxOrdersSuccess(data, status) {

            showOrders(data);
        };
        function getOrderHtmlToAppend(counter, orderID, orderdate, customerUserName, fullPrice) {
            //1.<a href="order/id class='appended-buttons' id='OrderID'">March 20<a>
            return "<div class='col-md-6'>" + counter + ". " + "<a class='appended-buttons btn btn-primary id='"
                + orderID + "' href='/Order/Details/" +
                orderID + "'>" + customerUserName + ": " + orderdate + "<a>"
                +" $" +fullPrice+
                "</div> ";
        };
        function showOrders(data) {

            for (var i = 0; i < data.length; i++) {
                let num = i + 1;
                var orderHtmlToAppend = getOrderHtmlToAppend(num, data[i].OrderID, data[i].OrderDate, data[i].CustomerUserName, data[i].FullPrice);
                orderList.append(orderHtmlToAppend);
            }
        };
       
    });
</script>
